<?xml version="1.0"?>
<configuration>
  <system.web>
    <!--Denies all users who don't have the "canEdit" role to 
      any page within this web.config jurisdiction (Login folder)-->
    <authorization>
      <allow roles="canEdit"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>