<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/><!--Denies all non loggedin users to this namespace pages-->
    </authorization>
  </system.web>

  <appSettings>
    <add key="AppId" value="237593617435384"/>
    <add key="AppSecret" value="0a8e4ff700a61948e643233ab5b4f1b4"/>
  </appSettings>
</configuration>
